.quiz-grid{
    display: grid;
    background-image: url("../../assests/home-page/snow.gif");
}
.quiz-grid-top-banner{
    grid-row-start: 1;
    grid-row-end:  span 2;
    grid-column-start: 1;
    grid-column-end: span 10;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
}
.quiz-panel{
    grid-row-start: 3;
    grid-row-end:  span 4;
    grid-column-start: 2;
    grid-column-end: span 4;
    height: 56vh;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: fill;
    border-radius: 5%;
}
.voice-input-panel{
    grid-row-start: 3;
    grid-row-end:  span 4;
    grid-column-start: 6 ;
    grid-column-end: span 4;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.quiz-grid-bottom-banner{
    grid-row-start: 7;
    grid-row-end:  span 2;
    grid-column-start: 1;
    grid-column-end: span 10;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-row button {
    margin: 7px; /* Add some space between buttons */
}
