.login-grid{
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-left-panel{
    width: 70%;
    background-color: white;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.login-form-panel{
    width: 30%;
    background-color: #80b6f2;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    

}

.left-panel-cover-img {
    object-fit: contain;
    width: 80%;
    height: auto;
}

.logo-img1 {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    display: flex;
}

.logo-img1:hover {
    transform: scale(1.2);
}